<a href="https://github.com/yakmada/ember-cli-mentionable"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<h1>ember-cli-mentionable</h1>

<p>An ember-cli addon allowing facebook style @mentions and #hashtags on inputs and textareas.</p>


<h2>Installation</h2>
<p><code>ember install ember-cli-mentionable</code></p>


<h2>Basic usage</h2>
<p>Pass an object with <code>values</code> as an array of strings.</p>
{{!-- BEGIN-SNIPPET mentionable-input-1 --}}
{{mentionable-input config=mentionableConfig value=input1 placeholder="Type @ anywhere to mention someone"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-input-1.hbs"}}
{{code-snippet name="mentionableConfig1.js" class="controller"}}


<h2>Custom mention token</h2>
<p>Pass a <code>token</code> string to specify which character to use to start a mention.</p>
{{!-- BEGIN-SNIPPET mentionable-input-2 --}}
{{mentionable-input config=hashtagConfig value=input2 placeholder="Type # anywhere to mention someone"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-input-2.hbs"}}
{{code-snippet name="mentionableConfig2.js" class="controller"}}


<h2>Mixed data</h2>
<p>Pass an array of objects to mention mixed data types.</p>
{{!-- BEGIN-SNIPPET mentionable-input-3 --}}
{{mentionable-input config=mixedConfig value=input3 placeholder="Type @ or # anywhere"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-input-3.hbs"}}
{{code-snippet name="mentionableConfig3.js" class="controller"}}


<h2>Object values</h2>
<p>Pass a <code>searchProperty</code> string along with <code>values</code> as an array of objects, to indicate which property to display/search.</p>
{{!-- BEGIN-SNIPPET mentionable-input-4 --}}
{{mentionable-input config=complexConfig value=input4 placeholder="Type @ anywhere to mention someone"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-input-4.hbs"}}
{{code-snippet name="mentionableConfig4.js" class="controller"}}


<h2>Custom rendering</h2>
<p>Pass the name of a partial to <code>pickerItemPartial</code> to create a custom rendered list</p>
{{!-- BEGIN-SNIPPET mentionable-input-6 --}}
{{mentionable-input config=customRenderConfig pickerItemPartial="custom-template" value=input6 placeholder="Type @ anywhere to mention someone"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-input-6.hbs"}}
{{code-snippet name="mentionableConfig6.js" class="controller"}}
{{code-snippet name="custom-template.hbs"}}


<h2>Asynchronous requests</h2>
<p>The <code>searchValues</code> method returns a promise, so it can be overwritten to perform asynchronous requests.</p>
{{!-- BEGIN-SNIPPET mentionable-input-5 --}}
{{mentionable-input config=asyncConfig value=input5 searchValues=someAsynchRequest placeholder="Type @ anywhere to mention someone"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-input-5.hbs"}}
{{code-snippet name="mentionableConfig5.js" class="controller"}}


<h2>Textarea</h2>
<p>Everything you can do with an input can also be done with a <code>textarea</code>.</p>
{{!-- BEGIN-SNIPPET mentionable-textarea-1 --}}
{{mentionable-textarea config=mentionableConfig value=textarea1 placeholder="Type @ anywhere to mention someone"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-textarea-1.hbs"}}
{{code-snippet name="mentionableConfig1.js" class="controller"}}

