<h1>ember-cli-mentionable</h1>

<h2>Basic usage</h2>
<p>Pass an object with <code>values</code> as an array of strings.</p>
{{!-- BEGIN-SNIPPET mentionable-input-1 --}}
{{mentionable-input config=mentionableConfig value=input1 placeholder="Type @ anywhere to mention someone"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-input-1.hbs"}}
{{code-snippet name="mentionableConfig1.js" class="controller"}}


<h2>Custom mention token</h2>
<p>Pass a <code>token</code> string to specify which character to use to start a mention.</p>
{{!-- BEGIN-SNIPPET mentionable-input-2 --}}
{{mentionable-input config=hashtagConfig value=input2 placeholder="Type # anywhere to mention someone"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-input-2.hbs"}}
{{code-snippet name="mentionableConfig2.js" class="controller"}}


<h2>Mixed data</h2>
<p>Pass an array of objects to mention mixed data types.</p>
{{!-- BEGIN-SNIPPET mentionable-input-3 --}}
{{mentionable-input config=mixedConfig value=input3 placeholder="Type @ or # anywhere"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-input-3.hbs"}}
{{code-snippet name="mentionableConfig3.js" class="controller"}}


<h2>Object values</h2>
<p>Pass a <code>searchProperty</code> string along with <code>values</code> as an array of objects, to indicate which property to display/search.</p>
{{!-- BEGIN-SNIPPET mentionable-input-4 --}}
{{mentionable-input config=complexConfig value=input4 placeholder="Type @ anywhere to mention someone"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-input-4.hbs"}}
{{code-snippet name="mentionableConfig4.js" class="controller"}}


<h2>Custom rendering</h2>
<p>Pass the name of a partial to <code>pickerItemPartial</code> to create a custom rendered list</p>
{{!-- BEGIN-SNIPPET mentionable-input-6 --}}
{{mentionable-input config=customRenderConfig pickerItemPartial="custom-template" value=input6 placeholder="Type @ anywhere to mention someone"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-input-6.hbs"}}
{{code-snippet name="mentionableConfig6.js" class="controller"}}
{{code-snippet name="custom-template.hbs"}}


<h2>Asynchronous requests</h2>
<p>The <code>searchValues</code> method returns a promise, so it can be overwritten to perform asynchronous requests.</p>
{{!-- BEGIN-SNIPPET mentionable-input-5 --}}
{{mentionable-input config=asyncConfig value=input5 searchValues=someAsynchRequest placeholder="Type @ anywhere to mention someone"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-input-5.hbs"}}
{{code-snippet name="mentionableConfig5.js" class="controller"}}


<h2>Textarea</h2>
<p>Everything you can do with an input can also be done with a <code>textarea</code>.</p>
{{!-- BEGIN-SNIPPET mentionable-textarea-1 --}}
{{mentionable-textarea config=mentionableConfig value=textarea1 placeholder="Type @ anywhere to mention someone"}}
{{!-- END-SNIPPET --}}
{{code-snippet name="mentionable-textarea-1.hbs"}}
{{code-snippet name="mentionableConfig1.js" class="controller"}}

